
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.containerAllDiaria{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerTitleP{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.titleDiaria{
    color:rgb(39, 39, 39);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.containerAllDiaria input{
    width: 220px;
    height: 40px;
    background-color: #2A9CC0;
    border-radius: 20px;
    border: none;
    text-align: center;
    outline: 0px;
    color:#fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.containerResultDiaria{
    width: 400px;
    height: 200px;
    margin-top: 40px;
    background-color: #2A9CC0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerResultDiaria{
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    padding: 0;
}

.btn-primary img{
    width: 40px;
    margin-left: -8px;
    margin-top: -2px;
    padding: 0;
}

.containerButtonModal{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttonReturn{
    margin-left: 15px;
    width: 40px;
}